/**
 * Created by ivan on 12.03.17.
 */
#questions-box {
  .list-questions {
    textarea{
      width: 100%;
    }
    > li {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }
}
.wp-list-table {
  .column-count,
  .column-bad,
  .column-good{
    width: 10%;
  }
}
