$button_color: #0085ba;
$background_answers: #ccc;
.quiz-shortcode {
  padding: 10px 5px;
  margin: 5px;
  border: 1px solid $background_answers;
  border-radius: 10px;

  .question {
    padding: 20px 0 5px;
    font-weight: bold;
  }
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: $background_answers;
    border: 1px solid $background_answers * 0.7;
    border-radius: 3px;

    li{
      padding: 5px 0;
      padding-left: 5px;
      label{
        display: block;
        cursor: pointer;
        &:hover{
          background: $background_answers * 1.1;
        }
      }
    }
  }
  .button {
    text-decoration: none;
    margin-top: 10px;
    padding: 0 10px 1px;
    cursor: pointer;

    background: $button_color;
    border: 1px solid $button_color;
    border-radius: 3px;
    color: #fff;
    white-space: nowrap;

    &:hover {
      background: $button_color * 0.8;
    }
  }
}