/**
 * Created by ivan on 12.03.17.
 */
#questions-box .list-questions textarea {
  width: 100%;
}
#questions-box .list-questions > li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.wp-list-table .column-count,
.wp-list-table .column-bad,
.wp-list-table .column-good {
  width: 10%;
}

/*# sourceMappingURL=admin.css.map */
