.quiz-shortcode {
  padding: 10px 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.quiz-shortcode .question {
  padding: 20px 0 5px;
  font-weight: bold;
}
.quiz-shortcode > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #ccc;
  border: 1px solid #8f8f8f;
  border-radius: 3px;
}
.quiz-shortcode > ul li {
  padding: 5px 0;
  padding-left: 5px;
}
.quiz-shortcode > ul li label {
  display: block;
  cursor: pointer;
}
.quiz-shortcode > ul li label:hover {
  background: #e0e0e0;
}
.quiz-shortcode .button {
  text-decoration: none;
  margin-top: 10px;
  padding: 0 10px 1px;
  cursor: pointer;
  background: #0085ba;
  border: 1px solid #0085ba;
  border-radius: 3px;
  color: #fff;
  white-space: nowrap;
}
.quiz-shortcode .button:hover {
  background: #006a95;
}

/*# sourceMappingURL=wordpress_quiz.css.map */
